:root {
    --primary-color: #2f86c7;
    --background-color: #cadeee;
    --whiteish: #efefef;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: var(--primary-color);
    color: var(--whiteish);
    padding: 20px;
    text-align: center;

    h1 {
        letter-spacing: -1px;
    }
}

main {
    background: var(--background-color);
}

.filter-section {
    padding: 10px 0 5px 5px;
}

.subfilters {
    padding: 0 0 5px 5px;
}

.btn{
    padding: 10px 18px;
    margin: 5px;
    border: 1px solid var(--primary-color);
    background: var(--whiteish);
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background: var(--primary-color);
    color: var(--whiteish);
    transform: translateY(-2px);
}

section{
    margin-left: 10px;
    padding-left: 30px;

    h2{
        margin: 10px
    }
}

.staff-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 10px;
    padding: 0 10px 20px 10px;

    button {
        display: none;
    }
}

.staff-show{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 10px;
    padding: 0 10px 20px 10px;
}

.delete-btn{
    position: relative;
    left: 70%;
    bottom: 5%;
    padding: 10px 18px;
    margin: 5px;
    border: 1px solid var(--primary-color);
    background: var(--whiteish);
    border-radius: 10px;
    cursor: pointer;
}
.delete-btn:hover{
    background: #c20c0c;
    color: var(--whiteish);
    transform: translateY(-2px);
}

.card {
    background: #efefef;
    padding: 15px 0 15px 30px;
    line-height: 2.3rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 300px;

    h3{
        font-size: 1.5rem;
        margin: 0 0 15px;
    }

}

.kursdisplay{
    list-style: none;
    padding: 0;
    margin: 0;
}
.kursdisplay li{
    display: inline;
}
.kursdisplay li:not(:last-child)::after{
    content: ", ";
}


.no-course{
    font-style: italic;
}

#kursliste ul{
    line-height: 30px;
    font-size: 1.25rem;
    padding-bottom: 20px;
}

.addUser{
    padding-top: 5px;
    border-radius: 5px;
    width: 33%;

    label { display: block; }

    input[type=text], input[type=email], select{
        width: 80%;
        padding: 12px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid var(--primary-color);
        border-radius: 4px;
        box-sizing: border-box;
    }
}

.hidden{
    display: none;
}